extends layout 

block content 
    p Username - #{user.username}
    p Age - #{user.age}
    p Email - #{user.email}
    p What? - #{user.question1Answer}
    p Did OJ do it? - #{user.question2Answer}
    p Do lizards control the government? - #{user.question3Answer}

    form(id="form" method="get" action="/edit")
        p 
            input(type="submit" value="Edit Details")