extends layout 

block content 
    p Username - #{user.username}
    p Age - #{user.age}
    p Email - #{user.email}
    p Question 1 Answer - #{user.question1Answer}
    p Question 2 Answer - #{user.question2Answer}
    p Question 3 Answer - #{user.question3Answer}

    form(id="form" method="post" action="/editAccount")
        p 
            input(type="submit" value="Edit Details")

    form(id="form" method="get" action="/logOUt")
        p 
            input(type="submit" value="Log Out")